<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="kr.method.papaya.ChatdPlugin"
        version="0.1.0">

	<name>ChatdPlugin</name>
	<author>June PARK</author>
	  
	<description>
		PhoneGap plugin to Papaya Chatd
	</description>

	<license>MIT</license>
	<keywords>phonegap,android,immortal,service,zombie,papaya,chatd</keywords>

	<engines>
		<engine name="cordova" version=">=3.0.0"/>
	</engines>

	<js-module src="www/ChatdPlugin.js" name="ChatdPlugin">
		<clobbers target="ChatdPlugin" />
	</js-module>

	<!-- android -->
	<platform name="android">

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="ChatdPlugin" >
				<param name="android-package" value="kr.method.papaya.ChatdPlugin"/>
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
			<uses-permission android:name="android.permission.BOOT_COMPLETED" />
			<uses-permission android:name="android.permission.ACCESS_BACKGROUND_SERVICE" />
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<meta-data android:name="kr.method.papaya.chatd.URL" android:value="@string/chatd_websocket_url" />
			<service
				android:name=".ChatdService"
				android:enabled="true"
				android:process=":remote" >
			</service>
			<receiver
				android:name=".RestartService"
				android:enabled="true"
				android:exported="false"
				android:label="RestartService"
				android:process=":remote" >
				<intent-filter>
					<action android:name="ACTION.RESTART.ChatdService" />
					<action android:name="android.intent.action.BOOT_COMPLETED" />
				</intent-filter>
			</receiver>
		</config-file>

		<source-file src="src/android/res/values/chatd_strings.xml" target-dir="res/values/" />

		<source-file src="src/android/kr/method/papaya/ChatdPlugin.java" target-dir="src/kr/method/papaya/" />
		<source-file src="src/android/kr/method/papaya/ChatdService.java" target-dir="src/kr/method/papaya/" />
		<source-file src="src/android/kr/method/papaya/RestartService.java" target-dir="src/kr/method/papaya/" />
		<source-file src="src/android/kr/method/papaya/ChatdWebsocketClient.java" target-dir="src/kr/method/papaya/" />
		
		<source-file src="src/android/org/java_websocket/AbstractWrappedByteChannel.java" target-dir="src/org/java_websocket" />
        <source-file src="src/android/org/java_websocket/SocketChannelIOHelper.java" target-dir="src/org/java_websocket" />
        <source-file src="src/android/org/java_websocket/SSLSocketChannel2.java" target-dir="src/org/java_websocket" />
        <source-file src="src/android/org/java_websocket/WebSocket.java" target-dir="src/org/java_websocket" />
        <source-file src="src/android/org/java_websocket/WebSocketAdapter.java" target-dir="src/org/java_websocket" />
        <source-file src="src/android/org/java_websocket/WebSocketFactory.java" target-dir="src/org/java_websocket" />
        <source-file src="src/android/org/java_websocket/WebSocketImpl.java" target-dir="src/org/java_websocket" />
        <source-file src="src/android/org/java_websocket/WebSocketListener.java" target-dir="src/org/java_websocket" />
        <source-file src="src/android/org/java_websocket/WrappedByteChannel.java" target-dir="src/org/java_websocket" />

        <source-file src="src/android/org/java_websocket/client/AbstractClientProxyChannel.java" target-dir="src/org/java_websocket/client" />
        <source-file src="src/android/org/java_websocket/client/WebSocketClient.java" target-dir="src/org/java_websocket/client" />
        
        <source-file src="src/android/org/java_websocket/drafts/Draft.java" target-dir="src/org/java_websocket/drafts" />
        <source-file src="src/android/org/java_websocket/drafts/Draft_10.java" target-dir="src/org/java_websocket/drafts" />
        <source-file src="src/android/org/java_websocket/drafts/Draft_17.java" target-dir="src/org/java_websocket/drafts" />
        <source-file src="src/android/org/java_websocket/drafts/Draft_75.java" target-dir="src/org/java_websocket/drafts" />
        <source-file src="src/android/org/java_websocket/drafts/Draft_76.java" target-dir="src/org/java_websocket/drafts" />

        <source-file src="src/android/org/java_websocket/exceptions/IncompleteHandshakeException.java" target-dir="src/org/java_websocket/exceptions" />
        <source-file src="src/android/org/java_websocket/exceptions/InvalidDataException.java" target-dir="src/org/java_websocket/exceptions" />
        <source-file src="src/android/org/java_websocket/exceptions/InvalidFrameException.java" target-dir="src/org/java_websocket/exceptions" />
        <source-file src="src/android/org/java_websocket/exceptions/InvalidHandshakeException.java" target-dir="src/org/java_websocket/exceptions" />
        <source-file src="src/android/org/java_websocket/exceptions/LimitExedeedException.java" target-dir="src/org/java_websocket/exceptions" />
        <source-file src="src/android/org/java_websocket/exceptions/NotSendableException.java" target-dir="src/org/java_websocket/exceptions" />
        <source-file src="src/android/org/java_websocket/exceptions/WebsocketNotConnectedException.java" target-dir="src/org/java_websocket/exceptions" />

        <source-file src="src/android/org/java_websocket/framing/CloseFrame.java" target-dir="src/org/java_websocket/framing" />
        <source-file src="src/android/org/java_websocket/framing/CloseFrameBuilder.java" target-dir="src/org/java_websocket/framing" />
        <source-file src="src/android/org/java_websocket/framing/FrameBuilder.java" target-dir="src/org/java_websocket/framing" />
        <source-file src="src/android/org/java_websocket/framing/Framedata.java" target-dir="src/org/java_websocket/framing" />
        <source-file src="src/android/org/java_websocket/framing/FramedataImpl1.java" target-dir="src/org/java_websocket/framing" />
        
        <source-file src="src/android/org/java_websocket/handshake/ClientHandshake.java" target-dir="src/org/java_websocket/handshake" />
        <source-file src="src/android/org/java_websocket/handshake/ClientHandshakeBuilder.java" target-dir="src/org/java_websocket/handshake" />
        <source-file src="src/android/org/java_websocket/handshake/HandshakeBuilder.java" target-dir="src/org/java_websocket/handshake" />
        <source-file src="src/android/org/java_websocket/handshake/Handshakedata.java" target-dir="src/org/java_websocket/handshake" />
        <source-file src="src/android/org/java_websocket/handshake/HandshakedataImpl1.java" target-dir="src/org/java_websocket/handshake" />
        <source-file src="src/android/org/java_websocket/handshake/HandshakeImpl1Client.java" target-dir="src/org/java_websocket/handshake" />
        <source-file src="src/android/org/java_websocket/handshake/HandshakeImpl1Server.java" target-dir="src/org/java_websocket/handshake" />
        <source-file src="src/android/org/java_websocket/handshake/ServerHandshake.java" target-dir="src/org/java_websocket/handshake" />
        <source-file src="src/android/org/java_websocket/handshake/ServerHandshakeBuilder.java" target-dir="src/org/java_websocket/handshake" />

        <source-file src="src/android/org/java_websocket/server/DefaultSSLWebSocketServerFactory.java" target-dir="src/org/java_websocket/server" />
        <source-file src="src/android/org/java_websocket/server/DefaultWebSocketServerFactory.java" target-dir="src/org/java_websocket/server" />
        <source-file src="src/android/org/java_websocket/server/WebSocketServer.java" target-dir="src/org/java_websocket/server" />

        <source-file src="src/android/org/java_websocket/util/Base64.java" target-dir="src/org/java_websocket/util" />
        <source-file src="src/android/org/java_websocket/util/Charsetfunctions.java" target-dir="src/org/java_websocket/util" />
	</platform>
</plugin>
